.container {
    background: rgba(88, 88, 88, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    border: 1px solid rgba(88, 88, 88, 0.15);
    
}

.scrollable {
    height: 92%;
    overflow-y: scroll;
    display: flex;
    --sb-track-color: #fdfdfd;
    --sb-thumb-color: #e2dfdf;
    --sb-size: 10px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}
.scrollable::-webkit-scrollbar {
    width: var(--sb-size)
}

.scrollable::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 16px;
    border: 1px solid #fdfdfd;
}
