.blurContainer {
    padding: 1rem 0;
    height: 92%;
    overflow-x: auto;
    display: flex;
    --sb-track-color: #fdfdfd;
    --sb-thumb-color: #e2dfdf;
    --sb-size: 10px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}
.blurContainer::-webkit-scrollbar {
    width: var(--sb-size);
}

.blurContainer::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

.blurContainer::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 16px;
    border: 1px solid #fdfdfd;
}